# General - For any project
.vscode/
*.log
.env*
!.env.example

# Operating System files
.DS_Store
Thumbs.db

# ROS (Robot Operating System)
/ros_ws/build/
/ros_ws/devel/
/ros_ws/logs/
/ros_ws/.catkin_tools/
/root/my_main_project/ros_ws/devel
/root/my_main_project/ros_ws/.catkin_tools
/root/my_main_project/ros_ws/.devcontainer
# Node.js / Next.js
/my-app/node_modules/
/my-app/.next/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE
*.swp
*.swo
*~